@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


<button @onclick="ButtonClicked">Click me!</button>

<span>@text</span>

@code 
{
    string text = string.Empty;

    // con il click di un pulsante vogliamo vedere apparire a video una nuova scritta
    // Con SSR render mode, dopo il click a video non vediamo succedere nulla
    void ButtonClicked()
    {
        text = "Button has been clicked!";
    }
}